{% extends 'base.html.twig' %}

{% block title %}Prostages - Modifier une entreprise{% endblock %}

{% block titrePage %}
    <h1>Modifier une entreprise</h1>
{% endblock %}

{% block contenuPage %}

    Ajout d'une entreprise ici

    {{ form_start(vueFormulaire, {'attr': {'novalidate' : 'novalidate'}}) }}

        {{ form_row(vueFormulaire.nom) }}
        {{ form_row(vueFormulaire.activite) }}
        {{ form_row(vueFormulaire.adresse) }}
        {{ form_row(vueFormulaire.urlSite) }}
        <button type="submit" class="btn btn-dark">Enregistrer</button>
		<br>
    {{ form_end(vueFormulaire) }}

{% endblock %}

{% block footerPage %}{% endblock %}
